<div class="row">
	<div class="col-xs-12 col-md-8">
		<h1>Contact Us</h1>
		<p>Let us know how we can help you, shoot us an email and we'll get back to you ASAP.</p>
	</div>
	<div class="col-xs-12 col-md-4">
		<h2>The Contact List</h2>
		<p><strong>Genral Questions</strong> <br>
			<a href="mailto:support@sippycup.club">support@sippycup.club</a>
		</p>
		<p><strong>Orders</strong> <br>
			<a href="mailto:orders@sippycup.club">orders@sippycup.club</a>
		</p>
		<p><strong>Media Inqueries</strong> <br>
			<a href="mailto:media@sippycup.club">media@sippycup.club</a>
		</p>
		<p><strong>Sales &amp; Wholesale</strong> <br>
			<a href="mailto:sales@sippycup.club">sales@sippycup.club</a>
		</p>
		
	</div>
</div>










