<div class="jumbotron">
  <h1>SippyCupClub | Fall '15</h1>
  <p class="lead">
    We are in the midst of creating a brand catering to wavy parents that want their children to be equally as fly. If you are here chances are you have many times looked at your kids closet, and wished you had something without a big eard mouse... SCC will be the answer to that! Providing that streetwear feel with imagery and language suitable for your swaggy toddler.<p>
  <h3><strong>- The Squad</strong><br><small><em>#SippyCupClub</em></small></h3>
</div>